.login {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  height: 100vh;
  display: flex;
}

.loading {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.spinner {
  width: 100px !important;
  height: 100px !important;
  margin-top: 100px;
}
